body{
  font-family: "Dancing Script";
  background-color: #02010a;
}
.header-page{
  color: white;
  background-color: #5b7989;
  text-shadow: 2px 2px #02010a;
  border-radius: 10px 10px 0 0;
}
.content-page{
  text-align: left;

}
.nav-page{
  text-align: right;
}
.enlace{
  color: white;
}
