body{
  font-family: "Dancing Script";
  background-color: #02010a;
}
#contenido{
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#cabecera-page{
  color: white;
  background-color: #5b7989;
  text-shadow: 2px 2px #02010a;
  border-radius: 10px 10px 0 0;
  box-sizing:
}
#foot-page{
  background-color: #C6d5c5;
}
#div-principal{
  background-color: #82c3a6;
}
#div-secundaria{
  background-color: #d5c75f;
}
#img-secundaria{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
#img-central{
  position: center;
  height: 300px;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%;
}
#img-sec1{
  width: 400px;
  border: 1px solid;
  margin-top: 5%;
}

#img-sec2{
  width: 400px;
  border: 1px solid;
  margin-top: 5%;
}

.img-sec{
  text-align: center;
  color: black;
  font-weight: bold;
}
.titulo{
  float: left;
  font-weight: bold;
}
.menu{
float: right;
}
.enlace{
  color: white;
}
