body{
  font-family: "Dancing Script";
  background-color: #02010a;
}
#contenido{
  display: flex;
  flex-direction: column;
}
#cabecera-page{
  color: white;
  background-color: #5b7989;
  text-shadow: 2px 2px #02010a;
  border-radius: 10px 10px 0 0;
  box-sizing:
}
#content-page{
  background-color: #82c3a6;
}
#foot-page{
  background-color: blue;
}
.titulo{
  float: left;
}
.menu{
float: right;
}
.enlace{
  color: white;
}
