body{
  font-family: "Dancing Script";
  background-color: #02010a;
}
img{
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
}
#contenido{
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  -webkit-animation: move 0.7s ;
}
@-webkit-keyframes move{
  0%   {top: 700px;}
  100% {top: -30px;}
}
#cabecera-page{
  color: white;
  background-color: #5b7989;
  text-shadow: 2px 2px #02010a;
  border-radius: 10px 10px 0 0;
}
.menu{
  text-align: right;
  margin-top: 2.5%;
  margin-right: 2.5%;
}
.titulo{
  float: left;
  font-weight: bold;
}
.enlace{
  color: white;
  margin-right: 4%;
  font-size: 110%;
}
#div-principal{
  background-color: #82c3a6;
}
#div-secundaria{
  background-color: #d5c75f;
}
#img-secundaria{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
#img-central{
  position: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%;
}
#img-sec1{
  width: 90%;
  border: 1px solid;
  margin-top: 5%;
  transition: transform 1s;
}
#img-sec1:hover{
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-box-shadow: 2px 2px 5px #82c3a6;
  -moz-box-shadow: 2px 2px 5px #82c3a6;
  border: 2px;

}

#img-sec2{
  width: 90%;
  border: 1px solid;
  margin-top: 5%;
  transition: transform 1s;
}
#img-sec2:hover{
  -ms-transform: translate(20px, 5px);
  -webkit-transform: translate(20px, 5px);
  transform: translate(20px, -5px);
  -webkit-box-shadow: 2px 2px 5px #82c3a6;
  -moz-box-shadow: 2px 2px 5px #82c3a6;
  border: 2px;
}
.enlace-texto{
  text-align: center;
  margin-bottom: 5%;
}
.img-sec{
  color: black;
  font-weight: bold;
  margin-top: 2%;
}

#foot-page{
    border-radius: 0 0 10px 10px;
    background-color: #C6d5c5;
}
#contenido-pie{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.lista-cliente{
  list-style-type: none;
}
.contacto-footer{
  font-size: 180%;
  font-weight: bold;
}
@media (max-width:900px) {
  #contenido{
    width: 100%;
    }
    #contenido-pie{
      display: flex;
      flex-direction: column;
      margin-left: -5%;
    }
    #img-secundaria{
      display: flex;
      flex-direction: column;
      margin-left: 5%;
      margin-right: -5%;
    }
    #cabecera-page{
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 20px;
    }
        .menu{
        text-align: center;
        justify-content: center;
        float: center;
    }
}
